*,
html {
  margin: 0;
  padding: 0;
}

.container-navbar {
  background-color: crimson;
  height: 10vh;
}

.ul-navbar {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.li-navbar {
  list-style-type: none;
  padding: 20px;
  color: white;
  margin: 5px;
  font-size: 30px;
}

.li-navbar:hover {
  background-color: blue;
  transition: 0.2s ease-in-out;
  transition-delay: 0.3s;
  border-radius: 8px;
}

.container-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.a-content {
  background-color: red;
  height: 40%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  color: black;
  border-radius: 60px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.img-container {
  width: 30%;
  height: 40%;
}

.h1-footer {
  font: 40px;
  height: 10vh;
  color: white;
}

.footer-container {
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-navbar {
  color: white;
  text-decoration: none;
}
